# Google OAuth Client ID for Google Sign-In popup (obtained from Google Cloud Console)
# Make sure to add "http://localhost:5173" and "http://localhost" to your Authorized JavaScript Origins.
VITE_GOOGLE_CLIENT_ID=your_real_google_client_id_here.apps.googleusercontent.com
