fastapi
uvicorn
pydantic
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
sentence-transformers
openai
qdrant-client
pypdf
tiktoken
python-multipart
python-dotenv
langchain-google-genai
google-generativeai
httpx
